/.idea/
.DS_Store
__pycache__/
/node_modules/
/.venv/
/tmp/
/logs/
/release/
/dist/
/control/test/
/test/
*.log
.cursor/
/ref/
/.claude/

*.md
!README.md


# Deprecated scene files
/src/scenes/serial/deprecated/
